.content-container{
  display: flex;
  flex-wrap: wrap;
}

.sidebar{
  width: 40%;
  border: 2px solid black;
}

.sidebar-client-list{
  padding-left: 0;
}
.sidebar-list-item{
  border-top: 2px solid lightgrey;
  padding: 10px;
}
.sidebar-client-image{
  height: 60px;
  width: auto;
  border-radius: 100px;
  vertical-align: top;
}

.sidebar-name-block{
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;

}

.sidebar-name-block p{
  margin: 0;
}